extends includes/layout.pug

block content
  h1 View Post
  p=story.title
  img(src=story.image)
  p=story.upvotes
  if comments.length > 0
    each comment in comments
      p=comment.author
      p=comment.comment
  else
    h4 Be the first to comment
  .container
    h1 Add New Comment
    form(method="post")
      .form-group
        label(for="comment-author") Your Name:
        input#comment-author.form-control(type="text", name="author", placeholder="Enter your name")
      .form-group
        label(for="comment") Comment
        input#comment.form-control(type="text", name="comment", placeholder="Enter your comment")
      button.btn.btn-primary(type="submit") Submit
